<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Geist">
    <title>CursorSync</title>
</head>

<body>
    <!-- Alert Section -->
    <div id="alert-section" class="alert-section"></div>

    <!-- App Section -->
    <div class="app">
        <div class="side-panel">
            <div class="card">
                <div class="card-item">
                    <span>Cursor Position</span>
                </div>
                <div class="card-item">
                    <span>X</span><span>:</span>
                    <span id="x" class="coordinate-value">___</span>
                </div>
                <div class="card-item">
                    <span>Y</span><span>:</span>
                    <span id="y" class="coordinate-value">___</span>
                </div>
            </div>

            <div class="side-panel-bottom">
                <div class="card">
                    <div class="card-item">
                        <span class="stat-value">__</span>
                        <span class="stat-label">Connected Users</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-panel">
            <div id="canvas">
                <div id="cursor"></div>
            </div>
            <div class="status-bar">
                <input id="connection-url" type="url" value="{{ netloc }}" spellcheck="false">
                <button id="connection-status" class="disconnected">DISCONNECTED</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', path='/alert.js') }}"></script>
    <script src="{{ url_for('static', path='/cursor.js') }}"></script>
    <script src="{{ url_for('static', path='/script.js') }}"></script>
</body>

</html>